
.modal-container{
    position: fixed;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    top: 25%;
    left: 25%;
    z-index: 110;
    width: 50vw;
}
@media (max-width: 900px) {
    .modal-container{
        top: 20vh;
        left: 10vw;
        width: 80vw;

    }
}

@media (max-width: 495px) {
    .modal-container{
        top: 5vh;
        left: 5vw;
        width: 90vw;

    }
}

